{% extends "workout_log/layout.html" %}
{% load static %}

{% block body %}

    {%  if message %}
        {{ message }}
    {% endif %}

    <h2>Create a new workout</h2>

    <div id="list">
            <div id="workout">
                <div id="selected_exercises">
                </div>
                <button class="btn btn-sm btn-outline-primary" id="add_workout">Add Workout</button>
                <p>Select exercises from dropdown list</p>
                <select class="addExerciseInput" name="exercise">
                    {% for exercise in exercises %}
                        <option value="{{ exercise.name }}">{{ exercise.name }}</option>
                    {% endfor %}
                </select>
                <button class="addExerciseButton"> Add Item </button>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'exercises' %}">Add More Exercises</a>
             </div>
    </div>

    <div id="workout_data">
        {{ workout }}
    </div>
    
{% endblock %}

{% block script %}
    <script src="static/workout_log/app.js"></script>
{% endblock %}